{% extends 'menu.html.twig' %}

{% block body %}
    <h3>Portfolio</h3>

    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Description</td>
                <td>Url</td>
                <td>Created</td>
                <td>Updated</td>
                <td>Pictures</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>Edit</td>
                    <td>Delete</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for p in all_portfolio %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.url }}</td>
                    <td>{{ p.created|date('H:i:s, d.m.Y') }}</td>
                    <td>
                        {% if p.updated is null %}
                            -
                        {% else %}
                            {{ p.updated|date("H:i:s, d.m.Y") }}
                        {% endif %}
                    </td>
                    <td>
                        {% for file in p.files %}
                            <img class="portfolio-pictures" src="{{portfolio_files_public_directory ~ file.url }}">
                        {% endfor %}
                    </td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a href="{{ path('admin_edit_portfolio', { 'id' : p.id }) }}">Edit</a>
                        </td>
                        <td>
                            <form method="post" action="{{ path('admin_delete_portfolio', { 'id' : p.id }) }}">
                                <input onclick="if (!confirm('Delete portfolio?')) { return false; }" type="submit" value="Delete">
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
