{% extends 'menu.html.twig' %}

{% block body %}
    <h3>Blog</h3>

    <table class="table">
        <thead>
            <tr>
                <td>Post Id</td>
                <td>Title</td>
                <td>Subtitle</td>
                <td>Text</td>
                <td>Active</td>
                <td>Created</td>
                <td>Updated</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>Edit</td>
                    <td>Delete</td>
                {% endif %}
            </tr>
        </thead>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.subtitle }}</td>
                <td>{{ post.text }}</td>
                <td>{{ post.active ? 'Yes' : 'No' }}</td>
                <td>{{ post.created|date('H:i:s, d.m.Y') }}</td>
                <td>
                    {% if post.updated is null %}
                        -
                    {% else %}
                        {{ post.updated|date('H:i:s, d.m.Y') }}
                    {% endif %}
                </td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>
                        <a href="{{ path('admin_edit_post', { 'id' : post.id }) }}">Edit</a>
                    </td>
                    <td>
                        <form method="post" action="{{ path('admin_delete_post', { 'id' : post.id }) }}">
                            <input onclick="if (!confirm('Delete post?')) { return false; }" type="submit" value="Delete">
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        <tr></tr>
    </table>
{% endblock %}
